<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
    .jumbotron
    {
      background-color:rgb(100, 160, 95);
    }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
 
  <div class="jumbotron">
      <div class="p-3">
      <h1>Welcome! </h1>
      <p>Let's track down some groceries</p>
  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>